.about-u {
  margin-top: 56px;
  margin-bottom: 54px;
  margin-left: calc(30px + (702 - 30) * ((100vw - 360px) / (1920 - 360)));
  margin-right: calc(30px + (538 - 30) * ((100vw - 360px) / (1920 - 360)));
 
  @media (max-width: 1024px) {
    & {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }
 
  @media (max-width: 640px) {
    & {
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }
 
  &__title {
    width: calc(74px + (175 - 74) * ((100vw - 1024px) / (1920 - 1024)));
    //width: 175px;
    height: 32px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    padding-left: 193px;
    text-align: center;
    @media (max-width: 1024px) {
      & {
       // width: 118px;
        font-size: 24px;
        padding-left: 137px;
      }
    }
    @media (max-width: 1024px) {
      & {
       // width: 74px;
        font-size: 20px;
        padding-left: 162px;
      }
    }
    @media (max-width: 640px) {
      & {
        width: calc(299px + (382 - 299) * ((100vw - 360px) / (640 - 360)));
       // width: 382px;
        font-size: 16px;
        padding-left: 0px;
      }
    }
    @media (max-width: 360px) {
      & {
       // width: 299px;
      }
    }
  }
  &_text {
   // width: 680px;
    width: calc(299px + (680 - 299) * ((100vw - 360px) / (1920 - 360)));
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 24px 0px;
    @media (max-width: 1024px) {
      & {
        //width: 481px;
        font-size: 16px;
      }
    }
    @media (max-width: 768px) {
      & {
        //width: 446px;
        font-size: 14px;
      }
    }
    @media (max-width: 640px) {
      & {
        //width: 382px;
        padding-bottom: 32px;
      }
    }
    @media (max-width: 360px) {
      & {
       // width: 299px;
      }
    }
  }
}

.about-u-contacts {
  &__title {
   // width: 680px;
    width: calc(299px + (680 - 299) * ((100vw - 360px) / (1920 - 360)));
    height: 26px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    margin-top: 24px;
    @media (max-width: 1024px) {
      & {
       // width: 481px;
        font-size: 22px;
      }
    }
    @media (max-width: 768px) {
      & {
        //width: 446px;
        font-size: 20px;
      }
    }
    @media (max-width: 640px) {
      & {
        //width: 382px;
        font-size: 18px;
        margin-top: 32px;
      }
    }
    @media (max-width: 360px) {
      & {
        //width: 299px;
      }
    }
  }
  &__text {
    width: calc(299px + (680 - 299) * ((100vw - 360px) / (1920 - 360)));
    //width: 680px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    padding-top: 24px;
    padding-bottom: 40px;
    @media (max-width: 1024px) {
      & {
       // width: 481px;
        padding-top: 16px;
      }
    }
    @media (max-width: 768px) {
      & {
       // width: 446px;
        font-size: 14px;
        padding-bottom: 32px;
      }
    }
    @media (max-width: 640px) {
      & {
        //width: 382px;
        padding-bottom: 24px;
      }
    }
    @media (max-width: 360px) {
      & {
        //width: 299px;
        padding-top: 18px;
      }
    }
  }
}

.about-u-logo {
  flex-direction: row;
  flex-wrap: wrap;
  &__text {
    width: 640px;
    height: 22px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #6b6b6b;
    padding-bottom: 9px;
    @media (max-width: 1024px) {
      & {
        padding-bottom: 17px;
      }
    }
  }
}

@media (max-width: 640px) {
  .about-u-logo__text {
    width: 282px;
  }
  .about-u-logo .button-logo-outercircle-white {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 0px;
  }
}
@media (max-width: 360px) {
  .about-u-logo__text {
    width: 211px;
  }
  .about-u-logo .button-logo-outercircle-white {
    margin-left: 0px;
    margin-right: 4px;
  }
}
