.link-footer {
  padding: 40px 345px 24px 347px;
  justify-content: space-between;
  @media (max-width: 1440px) {
    & {
      padding-left: 107px;
      padding-right: 105px;
    }
  }
  @media (max-width: 1366px) {
    & {
      padding-left: 70px;
      padding-right: 68px;
    }
  }
  @media (max-width: 1024px) {
    & {
      padding-left: 89px;
      display: block;
      padding-top: 24px;
      padding-bottom: 0;
    }
  }
  @media (max-width: 768px) {
    & {
      padding-left: 54px;
      display: flex;
      padding-top: 3px;
      padding-bottom: 0;
    }
  }
  @media (max-width: 640px) {
    & {
      padding-left: 129px;
      padding-top: 4px;
      padding-right: 129px;
    }
  }
  @media (max-width: 360px) {
    & {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__first a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #474747;
    text-decoration-line: underline;
    padding-left: 40px;
    @media (max-width: 1024px) {
      & {
        padding-left: 21px;
      }
    }
  }
}

@media (max-width: 768px) {
  .link-footer__first {
    width: 378px;
    height: 111px;
    padding-left: 35px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .link-footer__first a {
    margin-top: 20px;
    height: 17px;
  }
}
@media (max-width: 768px) {
  .link-footer__first {
    width: 288px;
    height: 185px;
    padding-left: 0px;
  }
  .link-footer__first a {
    padding-left: 0;
  }
}

.link-footer__second a {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  padding-right: 42px;
}
@media (max-width: 1024px) {
  .link-footer__second {
    padding-top: 24px;
    padding-left: 21px;
  }
}
@media (max-width: 768px) {
  .link-footer__second {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 0;
    text-align: right;
  }
  .link-footer__second a {
    margin-top: 20px;
    height: 17px;
  }
}
@media (max-width: 640px) {
  .link-footer__second a {
    padding-right: 0px;
  }
}

.footer-text p {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #b3b3b3;
  text-align: center;
  margin-bottom: 16px;
  @media (max-width: 1024px) {
    & {
      position: relative;
      text-align: right;
      margin-right: 110px;
      bottom: 16px;
    }
  }
  @media (max-width: 768px) {
    & {
      position: static;
      text-align: center;
      margin-right: 0px;
      bottom: 0px;
      padding-top: 20px;
    }
  }
}
