/*---------------------------main------------------------------------------*/
main {
  margin-top: 41px;
  @media (max-width: 1024px) {
    & {
      margin-top: 40px;
    }
  }
  @media (max-width: 768px) {
    & {
      margin-top: 50px;
    }
  }
  @media (max-width: 640px) {
    & {
      margin-top: 34px;
    }
  }
  @media (max-width: 360px) {
    & {
      margin-top: 24px;
    }
  }
}

.grid {
  display: grid;
  margin: 0px auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px 21px;
  position: relative;
  @media (max-width: 1024px) {
    & {
      grid-template-columns: 1fr 1fr;
      gap: 209px 68px;
    }
  }
  @media (max-width: 768px) {
    & {
      grid-template-columns: 1fr;
      gap: 209px 0px;
      justify-items: center;
    }
  }
  @media (max-width: 640px) {
    & {
      gap: 148px 0px;
    }
  }
}

.grid-wrap {
  position: relative;
  float: left;
  width: 368px;
  height: 555px;
  @media (max-width: 640px) {
    & {
      width: 300px;
      height: 495px;
    }
  }
}

.animals-cards__image {
  position: absolute;
  transition: 0.5s;
  width: 368px;
  height: 555px;
  border: 1px solid #ffffff;
  background: #f6f6f6;
  box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #ffffff,
    inset 4px 4px 16px rgba(203, 203, 203, 0.25);
  border-radius: 5px;
  @media (max-width: 640px) {
    & {
      width: 300px;
      height: 495px;
    }
  }
  &:hover {
    z-index: 2;
    height: 700px;
    box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #ffffff,
      inset 4px 4px 16px rgba(203, 203, 203, 0.25);
    border-radius: 5px;
    border: 1px solid #ffc41e;
    cursor: url(../image/курсор.cur), pointer;
    @media (max-width: 1024px) {
      & {
        height: 555px;
      }
    }
    @media (max-width: 640px) {
      & {
        height: 495px;
      }
    }
  }
  & img {
    width: 335px;
    height: 356px;
    padding: 17px 16px 8px 17px;
    @media (max-width: 640px) {
      & {
        width: 272px;
        height: 284px;
        padding: 14px 14px 12px 14px;
      }
    }
  }
}

.animals-card-text {
  width: 335px;
  @media (max-width: 640px) {
    & {
      width: 272px;
    }
  }
  &__title {
    height: 20px;
    @media (max-width: 640px) {
      & {
        height: 18px;
        padding-top: 0px;
      }
    }
    h4 {
      font-weight: 500;
      font-size: 22px;
      line-height: 20px;
      text-align: center;
    }
  }
  &__age {
    height: 20px;
    padding-bottom: 6px;
    @media (max-width: 640px) {
      & {
        height: 16px;
      }
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #6b6b6b;
    }
  }
  &__description {
    height: 64px;
    @media (max-width: 640px) {
      & {
        height: 86px;
      }
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.animals-card-text hr {
  opacity: 0.5;
  border: 1px solid #d6d6d6;
  margin: 7px 0px;
}

figcaption {
  width: 335px;
  padding-left: 17px;
  @media (max-width: 640px) {
    & {
      width: 272px;
      padding-left: 14px;
    }
  }
}

.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-decoration-line: underline;
  color: #ad7f00;
}

/*------------------------------------кнопки------------------------------- */

.buttons-animal {
  display: none;
  @media (max-width: 1024px) {
    & {
      display: block;
    }
  }
}
.animals-cards__image:hover .buttons-animal {
  display: block;
  transition-delay: 1s;
}

/*----------------------Белая кнопка--------------------------------*/

.outerbutton-white {
  width: 296px;
  height: 42px;
  background: #f6f6f6;
  box-shadow: 7px 7px 16px #e3e3e3, -4px -4px 8px rgba(255, 255, 255, 0.7),
    inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  border-radius: 58px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 17px;
  text-align: center;
  margin-left: 19px;
  @media (max-width: 640px) {
    & {
      width: 242px;
      height: 30px;
      margin-left: 15px;
    }
  }
}

.innerbutton-white {
  width: 286px;
  height: 32px;
  background: linear-gradient(180deg, #fbfbfb 0%, #f6f6f6 100%);
  box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
  border-radius: 58px;
  box-sizing: border-box;
  @media (max-width: 640px) {
    & {
      width: 232px;
      height: 22px;
    }
  }
  &:hover {
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      #ffffff 53.12%,
      #efecec 100%
    );
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25),
      3px 3px 13px rgba(128, 128, 128, 0.25);
  }
  &:active {
    background: linear-gradient(180deg, #f1f1f1 1.56%, #fcfafa 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25),
      inset 0px 4px 13px rgba(0, 0, 0, 0.06);
  }
}

/*----------------------------Желтая кнопка--------------------------------*/

.outerbutton-yellow {
  width: 209px;
  height: 42px;
  background: linear-gradient(180deg, #ffde89 0%, #ffcb38 100%);
  box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgba(255, 255, 255, 0.9),
    inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  border-radius: 58px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
  margin-left: 63px;
  @media (max-width: 640px) {
    & {
      width: 174px;
      height: 30px;
      margin-left: 47px;
      padding: 4px;
    }
  }
  &:hover {
    background: linear-gradient(180deg, #ffdc81 0%, #e6aa00 100%);
    box-shadow: 7px 7px 16px #e0e0e0, -3px -4px 8px #ffffff,
      inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  }

  &:focus {
    border: 3px solid #6b6b6b;
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgba(255, 255, 255, 0.9),
      inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  }
}

.innerbutton-yellow {
  width: 199px;
  height: 32px;
  background: linear-gradient(180deg, #ffecb5 0%, #ffe69f 0.01%, #ffd45a 100%);
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 58px;
  box-sizing: border-box;
  @media (max-width: 640px) {
    & {
      width: 164px;
      height: 22px;
    }
  }
  &:hover {
    background: linear-gradient(
      180deg,
      #ffeebc 0%,
      #ffe69f 36.46%,
      #ffcf48 68.23%,
      #ffc317 100%
    );
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  }

  a:hover {
    color: #000000;
  }

  &:active {
    background: linear-gradient(
      180deg,
      #ffe69f 0.01%,
      #e3b940 0.02%,
      #ffd24e 100%
    );
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  }
}

.button {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0);
  a {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    @media (max-width: 640px) {
      & {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
