.button {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0);
  a {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #000;
    
  }
}

.link-button{
  font-family: 'Gilroy';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #000;
    @media (max-width: 640px) {
      & {
         font-size: 18px;
         line-height: 20px;
       }
     }
}


.main-header {
  margin: 68px 0px 272px 387px;
  position: relative;
  transition-property: margin-left;
  transition-duration: 1s;
  transition-timing-function: ease;
  @media (max-width: 1440px) {
    & {
      margin-left: 114px;
    }
  }
  @media (max-width: 1366px) {
    & {
      margin-left: 110px;
    }
  }
  @media (max-width: 1024px) {
    & {
      margin-top: 25px;
      margin-bottom: 107px;
    }
  }
  @media (max-width: 768px) {
    & {
      margin-top: 0px;
      margin-bottom: 42px;
    }
  }
  @media (max-width: 640px) {
    & {
      margin: 8px 0px 47px 129px;
    }
  }
  @media (max-width: 360px) {
    & {
      margin-left: 30px;
      margin-bottom: 28px;
    }
  }
  &__target {
    width: 461px;
    height: 60px;
    padding-top: 12px;
    @media (max-width: 768px) {
      & {
        width: 311px;
        height: 80px;
        padding-top: 8px;
      }
    }
    @media (max-width: 640px) {
      & {
        width: 282px;
        height: 100px;
        padding-top: 20px;
      }
    }
    @media (max-width: 360px) {
      & {
        width: 158px;
        height: 160px;
      }
    }
    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #474747;
      @media (max-width: 1024px) {
        & {
          font-size: 14px;
        }
      }
    }
  }
  &__yellow {
    width: 428px;
    height: 116px;
    padding: 43px 0px;
    @media (max-width: 1024px) {
      & {
        width: 300px;
        height: 120px;
      }
    }
    @media (max-width: 768px) {
      & {
        width: 204px;
        height: 114px;
        padding: 40px 0px 44px 0px;
      }
    }
    @media (max-width: 640px) {
      & {
        width: 381px;
        height: 57px;
        padding: 152px 0px 20px 0px;
        text-align: center;
      }
    }
    @media (max-width: 360px) {
      & {
        width: 300px;
        height: 76px;
        padding-top: 92px;
      }
    }
    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #c78100;
      @media (max-width: 1024px) {
        & {
          font-size: 20px;
          line-height: 24px;
        }
      }
      @media (max-width: 768px) {
        & {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}

h1 {
  font-family: "GilroyBold";
  font-size: 72px;
  line-height: 87px;
  @media (max-width: 1024px) {
    & {
      font-size: 64px;
      line-height: 77px;
    }
  }
  @media (max-width: 768px) {
    & {
      font-size: 42px;
      line-height: 51px;
    }
  }
  @media (max-width: 640px) {
    & {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

.title-h1__subtitle {
  width: 659px;
  height: 18px;
  padding-top: 2px;
  @media (max-width: 768px) {
    & {
      width: 311px;
      height: 32px;
      padding-top: 6px;
    }
  }
  @media (max-width: 640px) {
    & {
      width: 282px;
      height: 28px;
      padding-top: 0px;
    }
  }
  @media (max-width: 360px) {
    & {
      width: 211px;
      height: 28px;
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #6b6b6b;
    @media (max-width: 1024px) {
      & {
        font-size: 14px;
        line-height: 16px;
      }
    }
    @media (max-width: 640px) {
      & {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

/*----------------------------Желтая кнопка--------------------------------*/

.outerbutton-yellow {
  width: 221px;
  height: 42px;
  background: linear-gradient(180deg, #ffde89 0%, #ffcb38 100%);
  box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgba(255, 255, 255, 0.9),
    inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  border-radius: 58px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;

  &:hover {
    background: linear-gradient(180deg, #ffdc81 0%, #e6aa00 100%);
    box-shadow: 7px 7px 16px #e0e0e0, -3px -4px 8px #ffffff,
      inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  }
  &:focus {
    border: 3px solid #6b6b6b;
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgba(255, 255, 255, 0.9),
      inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  }
}

.innerbutton-yellow {
  width: 211px;
  height: 32px;
  background: linear-gradient(180deg, #ffecb5 0%, #ffe69f 0.01%, #ffd45a 100%);
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 58px;
  box-sizing: border-box;

  &:hover {
    background: linear-gradient(
      180deg,
      #ffeebc 0%,
      #ffe69f 36.46%,
      #ffcf48 68.23%,
      #ffc317 100%
    );
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  }

  a:hover {
    color: #000000;
  }

  &:active {
    background: linear-gradient(
      180deg,
      #ffe69f 0.01%,
      #e3b940 0.02%,
      #ffd24e 100%
    );
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  }
}


/*----------------------Продолжение 1го экрана--------------------------------*/

.main-header .outerbutton-yellow {
  width: 183px;
  transition-property: margin-left;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
  @media (max-width: 640px) {
    & {
      width: 194px;
      height: 30px;
      margin-left: 94px;
    }
  }
  @media (max-width: 360px) {
    & {
      margin-left: 49px;
    }
  }
}

.main-header__button .innerbutton-yellow {
  width: 173px;
  @media (max-width: 640px) {
    & {
      width: 184px;
      height: 20px;
    }
  }
  
}
