* {
  margin: 0;
  padding: 0;
}

body {
  height: 735px;
  overflow-x: hidden;
  font-family: "Gilroy", Courier, monospace;
  margin: 0 auto;
  background: #f6f6f6;
  color: #242424;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/*----------------------Белая кнопка--------------------------------*/

.buttons-form .outerbutton-white {
  width: 143px;
  height: 42px;
  background: #f6f6f6;
  box-shadow: 7px 7px 16px #e3e3e3, -4px -4px 8px rgba(255, 255, 255, 0.7),
    inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  border-radius: 58px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 134px;
  @media (max-width: 640px) {
    & {
      height: 30px;
      padding: 4px;
      margin-top: 20px;
      margin-left: 65px;
    }
  }
}

.innerbutton-white {
  width: 133px;
  height: 32px;
  background: linear-gradient(180deg, #fbfbfb 0%, #f6f6f6 100%);
  box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
  border-radius: 58px;
  box-sizing: border-box;
  @media (max-width: 640px) {
    & {
    
      height: 22px;
    }
  }
  &:hover {
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      #ffffff 53.12%,
      #efecec 100%
    );
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25),
      3px 3px 13px rgba(128, 128, 128, 0.25);
  }
  &:active {
    background: linear-gradient(180deg, #f1f1f1 1.56%, #fcfafa 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25),
      inset 0px 4px 13px rgba(0, 0, 0, 0.06);
  }
}

/*----------------------------Желтая кнопка--------------------------------*/

.buttons-form .outerbutton-yellow {
  width: 168px;
  height: 42px;
  background: linear-gradient(180deg, #ffde89 0%, #ffcb38 100%);
  box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgba(255, 255, 255, 0.9),
    inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  border-radius: 58px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0.7;
  @media (max-width: 640px) {
    & {
      height: 32px;
      margin-left: 53px;
    }
  }
  &:hover {
    background: linear-gradient(180deg, #ffdc81 0%, #e6aa00 100%);
    box-shadow: 7px 7px 16px #e0e0e0, -3px -4px 8px #ffffff,
      inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  }

  &:focus {
    border: 3px solid #6b6b6b;
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgba(255, 255, 255, 0.9),
      inset 13px 22px 8px rgba(0, 0, 0, 0.02);
  }
}

.innerbutton-yellow {
  width: 158px;
  height: 32px;
  background: linear-gradient(180deg, #ffecb5 0%, #ffe69f 0.01%, #ffd45a 100%);
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 58px;
  box-sizing: border-box;
  @media (max-width: 640px) {
    & {
      height: 22px;
    }
  }
  &:hover {
    background: linear-gradient(
      180deg,
      #ffeebc 0%,
      #ffe69f 36.46%,
      #ffcf48 68.23%,
      #ffc317 100%
    );
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  }

  a:hover {
    color: #000000;
  }

  &:active {
    background: linear-gradient(
      180deg,
      #ffe69f 0.01%,
      #e3b940 0.02%,
      #ffd24e 100%
    );
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  }
}

.button {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0);
  a {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    @media (max-width: 640px) {
      & {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.buttons-form{
   flex-wrap: wrap;
   margin-top: 16px;
   @media(max-width:640px){
      &{
         height: 80px;
      }
   }
}

.container-form {
 width: 445px;
 padding: 30px 40px;
 margin: 0px auto;
  @media(max-width: 640px){
   &{
      width: 300px;
     padding: 30px; 
   }  
  
  }
}

.header {
  &__title {
    width: 388px;
    height: 36px;
    padding-right: 30px;
    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 24px;
      color: #b3b3b3;
    }
    @media(max-width: 640px){
     &{
      width: 266px; 
      h3{
         font-size: 22px;
      } 
     }
     
  } 
  }
  &__close{
     text-align: right;
  }
 
}

hr {
  margin-top: 8px;
  margin-bottom: 17px;
  border: 1px solid #ffc41e;
}

.main {
  .inform-pets {
    width: 445px;
    height: 91px;
    @media(max-width: 640px){
       &{
          width: 300px;
       }
    }
    &__image {
      width: 91px;
      height: 91px;
      background: url(../image/animals/моник-собака.png) center center no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
    &__text {
      padding-left: 13px;
      margin: auto 0px;

      &--block {
        width: 341px;
        height: 20px;
        padding-bottom: 8px;
        @media(max-width: 640px){
         &{
            width: 196px;
         }
      }
        h4 {
          font-weight: 500;
          font-size: 22px;
          line-height: 20px;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #6b6b6b;
        }
      }
    }
  }
}

.text-data {
  padding-top: 18px;
  padding-bottom: 16px;
  width: 402px;
  height: 67px;
  @media(max-width: 640px){
   &{
      width: 300px;
   }
}
  p {
    font-size: 16px;
    line-height: 140%;
    color: #6b6b6b;
  }
}

.fields {
  .form-input {
    padding: 10px 16px;
    font-weight: 500;
    font-family: 'Gilroy', Courier, monospace;
    font-size: 14px;
    line-height: 20px;
    color: #6b6b6b;
    opacity: 0.7;
    &:focus::-webkit-input-placeholder {
      position: static;
      color: #000;
      transition: line-height 0.5s ease;
      left: 15px;
    }
  }
  &__inform {
    margin-top: 16px;
    input {
      width: 413px;
      height: 20px;
      @media(max-width: 640px){
         &{
            width: 267px;
         }
      }
    }
  }
  &__attention {
    height: 20px;
    padding-left: 16px;
    p {
      font-size: 14px;
      line-height: 140%;
      color: #b3b3b3;
    }
    .text-attention{
       display: none;
    }
  }
  &__remarks {
    margin-top: 22px;
    margin-bottom: 24px;
    textarea {
      width: 413px;
      height: 56px;
      @media(max-width: 640px){
         &{
            width: 267px;
         }
      }
    }
  }
}

.text-question{
   margin-top: 24px;
   margin-bottom: 16px;
   width: 445px;
   height: 82px;
   @media(max-width: 640px){
      &{
         height: 101px;
         width: 300px;
      }
   }
   p{
      font-size: 14px;
      line-height: 140%;
      color: #474747;
   }
}

.text-thanks{
   height: 73px;
   padding-bottom: 22px;
   @media(max-width: 640px){
      &{
         height: 90px;
         width: 300px;
         padding-bottom: 8px;
      }
   }
   p{
      font-size: 16px;
      line-height: 140%;
      color: #b3b3b3;
   }
}

form:invalid {
   .text-attention {
   display: block;
   color: #CF2835;
}
.text-normal{
   display: none;
}
}
  
form:valid{
   .outerbutton-yellow{
      opacity: 1;
   }
}

