* {
   margin: 0;
   padding: 0;
 }
 
 body {
   max-width: 1920px;
   overflow-x: hidden;
   font-family: "Gilroy", Courier, monospace;
   margin: 0 auto;
   background: #f6f6f6;
   color: #242424;
 }
 