@font-face {
  font-family: "Montserrat700";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Montserrat500";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: url("fonts/Gilroy-Regular.eot") format("embedded-opentype"),
    url("fonts/Gilroy-Regular.ttf") format("truetype"),
    url("fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyBold";
  src: url("fonts/Gilroy-Bold.eot");
  src: url("fonts/Gilroy-Bold.eot") format("embedded-opentype"),
    url("fonts/Gilroy-Bold.ttf") format("truetype"),
    url("fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GilroySemibold";
  src: url("fonts/Gilroy-Semibold.eot");
  src: url("fonts/Gilroy-Semibold.eot") format("embedded-opentype"),
    url("fonts/Gilroy-Semibold.ttf") format("truetype"),
    url("fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GilroyMedium";
  src: url("fonts/Gilroy-Medium.eot");
  src: url("fonts/Gilroy-Medium.eot") format("embedded-opentype"),
    url("fonts/Gilroy-Medium.ttf") format("truetype"),
    url("fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("fonts/Gilroy-Light.eot");
  src: url("fonts/Gilroy-Light.eot") format("embedded-opentype"),
    url("fonts/Gilroy-Light.ttf") format("truetype"),
    url("fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1366 px;
  overflow-x: hidden;
  font-family: "Gilroy", Courier, monospace;
}

.container {
  width: 1060 px;
  margin-left: auto;
  margin-right: auto;
}

/* Header sli */

header {
  width: 1256px;
  height: 834px;
  background: rgb(248, 221, 218);
  padding-left: 110px;
}

.container ul li {
  display: inline;
}
.logo_vk {
  width: 40px;
  height: 40px;
  float: right;
}

.logo_inst {
  width: 40px;
  height: 40px;
  float: right;
}
header .logo_vk {
    margin-top: -13px;
    margin-right: 19px;
}

header .logo_inst  {
  
  margin-top: -13px;
  margin-right: 183px;
}

a {
  text-decoration: none;
  color: #242424;
  font-family: Gilroy;

}

header a{
    font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

header ul {
  padding-top: 54px;
}

header ul li:nth-child(2) {
  padding-left: 32px;
}

header ul li:nth-child(3) {
  padding-left: 194px;
}

header ul li:nth-child(4) {
  padding-left: 32px;
}

header h1 {
  padding-top: 91px;
  margin-bottom: -10px;
  font-family: "GilroyBold";
  font-size: 72px;
  line-height: 77px;
  text-transform: uppercase;
  color: #242424;
  width: 594px;
  height: 87px;
}

header h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #6b6b6b;
}

.semibold {
  font-family: "GilroySemibold", Courier, monospace;
  font-size: 16px;
  margin-top: 12px;
  color: #474747;
  line-height: 22px;
}

.normal {
  width: 415px;
  height: 116px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #5a5757;
  padding-top: 43px;
}

.button_blue {
  background: #18a0fb;
  border-radius: 6px;
  width: 192px;
  height: 52px;
  text-align: center;
  font-family: "Montserrat500";
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}

header .button_blue {
  margin-top: 44px;
  margin-left: -8px;
}


/* screen 2*/

.screen_2 {
  width: 1256px;
  height: 650px;
  background: bisque;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 110px;
}

.screen_2 img {
  width: 510px;
  height: 501px;
  margin-top: 74px;
}

.text_screen_2 {
  width: 464px;
  height: 385px;
  margin-left: 73px;
  margin-top: 128px;
}

.text_screen_2 h2 {
  height: 94px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #242424;
}

.p_first {
  height: 155px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-top: 28px;
}

.p_second {
  height: 88px;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

/* screen 3*/

.screen_3 {
  width: 1366px;
  height: 939px;
  background: burlywood;
}

.screen_3 h5 {
  text-align: center;
  color: #242424;
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  padding-top: 80px;
}

.help {
  margin-top: 47px;
  margin-left: 23px;
}

.help img {
  margin-left: 96px;
  width: 150px;
  height: 150px;
}

.text_help p {
  font-family: "GilroyMedium", Courier, monospace;
  margin-top: 24px;
  width: 166px;
  height: 66px;
  display: inline-block;
  text-align: center;
  margin-left: 79px;
  font-size: 16px;
  line-height: 140%;
  vertical-align: top;
}

.text_help p:first-child {
  margin-left: 119px;
  margin-top: 18px;
  height: 72px;
}

.line_home img {
  width: 150px;
  height: 150px;
 
}

.screen_3 .line_home img{
   margin: 71px 0px;
}

.line_home {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.line_home span {
  position: relative;
}

.screen_3 .line_home span:before, .screen_3 .line_home span:after{
    margin-top: 150px;
}

.line_home span:before {
  display: block;
  width: 534px;
  content: "";
  border-bottom: 1px solid #000;
  float: left;

}

.line_home span:after {
  display: block;
  width: 534px;
  content: "";
  border-bottom: 1px solid #000;
  float: right;
 
}

.text_end, .navigation, .payment {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.text_end h3 {
  font-family: "GilroyMedium", Courier, monospace;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  width: 378px;
  height: 32px;
 }

.text_end p{
   width: 389px;
   height: 132px;
   font-size: 16px;
   line-height: 140%;
}

.text_end_1{
   margin-left: 284px;
}

.text_end_2{
   margin-left: 97px;
}

/* Screen 4 */

.screen_4{
   height: 930px;
   width: 1366px;
   background: darkkhaki;
}

.screen_4 h3{
  font-family: 'GilroyLight', Courier, monospace;
  width: 368px;
  height: 24px;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  color: #000;
  margin-left: 499px;
  margin-bottom: 24px;
}

.all{
  font-family: 'Montserrat700';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #18A0FB;
}

.screen_4 .all{

  margin-left: 576px;
}

.animals figure{
  width: 368px;
  height: 485px;
  margin-left: 20px;
  margin-top: 29px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.animals{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 90px;
}

.animals figure img{
  width: 368px;
  height: 372px;
}

.animals h4{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.animals p{
  margin-top: 8px;
  margin-left: 55px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.navigation a{
  margin-top: 51px;
}

.navigation .arrow_left{
 margin-left: 275px;
 width: 40px;
 height: 40px;
}

.navigation .arrow_right{
  margin-left: 261px;
  width: 40px;
 height: 40px;
}

.navigation .button_blue{
  margin-top: 25px;
  margin-left: 281px;
}

.button_white{
  width: 246px;
  height: 52px;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  background: #FFFFFF;
  font-family: 'Montserrat500', Courier, monospace;
  color: #18A0FB;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.015em;
}

.screen_4 .button_white{
  margin-left: 567px;
}

.text_screen_4{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 60px;
}

.text_screen_4 p{
  width: 583px;
  height: 48px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-left: 304px;
}

.text_screen_4 .logo_vk{
  margin-left: 34px;
  margin-right: 19px;
}

/* screen_5 */

.screen_5{
  width: 1366px;
  height: 716px;
  background: #a1e6d7ce;
}

.screen_5 .line_home img{
  margin-top: 21px;
  margin-bottom: 0px;
}

.screen_5 .line_home span:before, .screen_5 .line_home span::after {
  margin-top: 100px;
}

h3{
  font-family: 'GilroyMedium', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
}

.financial_support h3{

  width: 368px;
  height: 32px;
  text-align: center;
  margin-left: 497px;
  margin-top: 25px;
}

.financial_support p{
  width: 758px;
  height: 55px;
  font-family: 'GilroyMedium', Courier, monospace;
  font-size: 18px;
  line-height: 24px;
  color: #6B6B6B;
  text-align: center;
  margin-top: 24px;
  margin-left: 302px;
}

.payment h3{
  font-family: 'GilroyLight', Courier, monospace;
  width: 389px;
  height: 24px;
  font-size: 28px;
  line-height: 24px;
  color: #242424;
  text-align: left;
  margin-top: 40px;
}

.payment p{
  font-family: 'GilroyLight', Courier, monospace;
  width: 389px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #242424;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 15px;
}

.payment .bank{
   height: 164px;
  margin-left: 282px;
}

/* screen 6 */
.screen_6{
  width: 1366px ;
  height: 2066px;
  background: #e1e78b;
}

.screen_6 .line_home{
  padding-top: 24px;

}

.screen_6 .line_home span:after, .screen_6 .line_home span::before {
  margin-top: 79px;
} 

.screen_6 h3, .screen_6 p, .screen_6 a{
  margin-left: 402px;
}

.screen_6 h3{
  font-family: 'GilroyMedium', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  height: 32px;
}

.screen_6 p{
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-top: 24px;
}

.feed{
  margin-top: 25px;
}

.feed p{
  width: 660px;
  height: 152px;
  margin-bottom: 40px;
}

.medicine p{
  width: 660px;
  height: 66px;
  margin-bottom: 40px;
 }

.other_things p{
  width: 678px;
  height: 140px;
  margin-bottom: 26px;
}

.car_help{
  width: 1082px;
  height: 114px;
  margin: 32px 0px;
}

.screen_6 .button_blue{
  margin-left: 399px;
  margin-bottom: 38px;
}

.volunteering_img img{
  width: 510px;
  height: 467px;
  margin-top: 36px;
  margin-left: 110px;
}

.volunteering_text{

  margin-top: 95px;
}  

.volunteering_text h3 {
  margin-left: 73px;
}

.volunteering_text p{
  margin-left: 73px;
  width: 466px;
  height: 182px;
}

.volunteering_text .button_blue{
  margin-top: 17px;
  margin-left: 73px;
}

/* screen 7 */

.screen_7{
  width: 1366px;
  height: 563px;
  background: #e2eff8;
}

.screen_7 h3{
  font-family: 'GilroyMedium', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  height: 32px;
  padding-top: 54px;
  margin-left: 499px;
}

.screen_7 p{
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-top: 40px;
  margin-left: 43px;
}

.news{
  margin-left: 286px;
}

.news img{
  width: 150px;
  height: 150px;
  margin-top: 30px;
}

.news p{
  width: 603px;
  height: 140px;
}

.screen_7 a{
   margin-left: 306px;
}

/* screen 8 */

.screen_8{
  width: 964px;
  height: 702px;
  background: #ebf8e2;
  margin-left: 402px;
}

.screen_8 p{
  margin-bottom: 40px;
  width: 545px;
}

.screen_8 h3{
  font-family: 'GilroyMedium', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  height: 32px;
  padding-top: 56px;
  margin-left: 237px;
}

.screen_8 .GilroyMedium{
  font-family: 'GilroyMedium', Courier, monospace;
  font-size: 18px;
  line-height: 24px;
  color: #242424;
  margin: 24px 0px;
  width: 680px;
  height: 96px;
}

.screen_8 h6{
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 24px;
}

.screen_8 .logo_vk{
  float: left;
  margin-left: 0px;
   margin-right: 19px;
}

.screen_8 .logo_inst {
  float: left;
  margin-left: 0px;
}

.screen_8 .gray{
  color: #6B6B6B;
  margin-bottom: 28px;
}