* {
   margin: 0;
   padding: 0;
 }

body {
   overflow-x: hidden;
   font-family: "Gilroy", Courier, monospace;
 }

 .container{
   width: 1366px;
   margin: 0 auto;
    background: #f6f6f6;
 }
/* Общие блоки */

.navigation{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

 
/* оформление ссылки */

.all{
   font-family: Gilroy;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 40px;
   align-items: center;
   text-decoration-line: underline;
 }

 a{
   text-decoration: none; 
 }

/* шрифты*/


.semibold{
   font-family: 'GilroySemibold', Courier, monospace;
   font-size: 28px;
   line-height: 120%;
 }

 .medium{
   font-family: 'GilroyMedium', Courier, monospace;
   font-size: 22px;
   line-height: 20px;
 }

 
 .text_sm_medium{
   font-family: 'GilroyMedium', Courier, monospace;
   font-size: 14px;
   line-height: 20px;
 }

/*цвета*/

 .gray_2{
   color: #242424;
}

.gray_4{
   color: #6b6b6b;
}

.gray_6{
   color: #b3b3b3;
}


.dirty_yellow{
   color: #AD7F00;
}

 /* кнопки */
 .rectangle-1-white{
   width: 296px;
   height: 42px;
   background: #F6F6F6;
box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
 border-radius: 58px;
 padding: 5px;
 box-sizing: border-box; 
 margin-top: 17px;
 text-align: center;
 margin-left: 19px;
}

.rectangle-2-white{
   width: 286px;
   height: 32px;
   background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
   box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
 border-radius: 58px;
 box-sizing: border-box; 
 
}
 
 .rectangle-1{
   width: 209px;
   height: 42px;
   background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
 box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
 border-radius: 58px;
 padding: 5px;
 box-sizing: border-box; 
 margin-top: 29px;
 text-align: center;
 margin-left: 63px;
}

.rectangle-2{
   width: 199px;
   height: 32px;
   background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
   box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
   border-radius: 58px;
   box-sizing: border-box; 
}

.rectangle-2:hover{
   background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
   box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}

.rectangle-2 a:hover{
   color: #000000;
}

.rectangle-1:hover{
   background: linear-gradient(180deg, #FFDC81 0%, #E6AA00 100%);
   box-shadow: 7px 7px 16px #E0E0E0, -3px -4px 8px #FFFFFF, inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.rectangle-2:active{
   background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
   box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}

.rectangle-2-white:hover{
   background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}

.rectangle-2-white:active{
   background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
   box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
}


.rectangle-2 a, .rectangle-2-white a{
   width: 183px;
   height: 42px;
   font-family: Gilroy;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   color: #242424;
   text-decoration: none;
 
}

.rectangle-2 .button, .rectangle-2-white .button{
   border: none; 
   outline: none;
   background: rgba(255, 255, 255, 0);
}

 
 /* header */
 header{
    padding-top: 40px;
    margin-left: 110px;
 }

 .button-yellow{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(155.32deg, #FFD868 13.8%, #F3B401 90.56%);
    box-shadow: 2px 2px 4px rgba(206, 206, 206, 0.25);
    margin-right: 8px;
 }

 .button-yellow img{
    margin: 6px 3.6px 4.8px 4.8px;
 }

 header a{
    margin-top: 3px;
    margin-right: 196px;
    font-family: Gilroy;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 20px;
 }

 header .text{
    height: 40px;
   padding-top: 8px;
 }

 .navigation a:hover{
    color:#242424;
 }

 header h3{
    width: 368px;
    margin-right: 143px;
    text-align: center;
 }

 header select{
    width: 168px;
    height: 40px;
    margin-left: 8px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
box-sizing: border-box;
border-radius: 4px;
 }

/* main*/

main{
   margin-top: 41px;
}

 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 110px;
    gap: 42px 21px;
    position: relative;
 }

.buttons {
   display: none;
}

.grid-wrap{
   position:relative;
    float:left;
    width:368px;
    height:555px;
    
}

 figure{
   position:absolute;
   transition: 0.5s;
   width: 368px;
   height: 555px;
    /*height: 700px;*/
   border: 1px solid #ffffff;
   background: #F6F6F6;
   box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
   border-radius: 5px;
   
}

 figure:hover .buttons{
   display: block;
}

figure:hover{
   z-index: 2;
   height: 700px;
   box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
   border-radius: 5px;
   border: 1px solid #FFC41E;
   cursor: url(/img/курсор.cur), pointer;
   
}
figure img{
   padding: 17px 16px 8px 17px;
 }
 
  figure hr{
    opacity: 0.5;
    border: 1px solid #D6D6D6;
    margin: 7px 0px;
    width: 335px;
  }
  
  figcaption{
     width: 335px;
     padding-left: 17px;
  }
 
  figure h4{
     text-align: center;
  }

  figure .text{
     width: 335px;
     height: 64px;
  }

  
  /* footer*/

  footer nav{
   margin: 55px 0px 24px 70px;
}

footer a{
   padding-left: 40px;
   font-weight: 600;
 font-size: 14px;
 line-height: 17px;
 text-decoration-line: underline;
 color: #474747;
} 

footer a:nth-child(6){
 padding-left: 122px;
}

footer p{
 font-size: 12px;
 line-height: 140%;
 text-align: center;
 padding-bottom: 16px;
}
