* {
   margin: 0;
   padding: 0;
 }
 
 body {
   max-width: 1920px;
   overflow-x: hidden;
   font-family: "Gilroy", Courier, monospace;
   margin: 0 auto;
   background: #f6f6f6;
   color: #242424;
 }

 .flex{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
 }

 .conteiner{
    margin: 0px 387px;
 }
 @media (max-width:1440px){
    .conteiner{
       margin: 0px 147px;
    }
 }
 @media (max-width:1366px){
   .conteiner{
      margin: 0px 110px;
   }
}
@media (max-width:640px){
   .conteiner{
      margin: 0px 30px;
   }
}

 /*---------------------------header------------------------------------------*/

 header{
    margin-top: 40px;
    justify-content: space-around;
 }
 @media (max-width:768px){
    header{
       margin-top: 99px;
    }
 }
 @media (max-width:640px){
   header{
      margin-top: 72px;
   }
}

 .button-back{
    padding-top: 8px;
 }

 .button-back__image{
    width: 24px;
    height: 24px;
 }
 @media (max-width:360px){
   .button-back__image{
     position: absolute;
     top: 22px;
   }
}

 .button-back__text{
   padding: 2px 1px 2px 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 20px;
 }
 @media (max-width:360px){
    .button-back__text{
      display: none;
    }
 }

 .button-back__text a{
    text-decoration: none;
   color: #6B6B6B;  
 }

 .title{
   width: 368px;
   height: 34px;
   padding-top: 3px;
   text-align: center;
   font-weight: 600;
   font-size: 28px;
   line-height: 120%;
 }
 @media (max-width:1024px){
    .title{
       width: 254px;
       height: 29px;
       padding-top: 6px;
       font-size: 24px;
    }
 }
 @media (max-width:768px){
   .title{
     position: absolute;
     top: 46px;

   }
}
@media (max-width:640px){
   .title{
     position: absolute;
     top: 24px;
     font-size: 20px;
     height: 24px;
     padding-top: 0px;

   }
}
@media (max-width:360px){
   .title{
     left: 67px;

   }
}

 .choose__text{
   width: 70px;
   height: 40px;
   font-size: 16px;
   line-height: 40px;
   color: #6B6B6B;
   vertical-align: middle;
 }

 .choose__list{
   width: 168px;
   height: 40px;
   background: #FFFFFF;
   border: 1px solid #D6D6D6;
   box-sizing: border-box;
   border-radius: 4px;
   margin-left: 8px;
   padding: 8px 6px 8px 16px;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   appearance: none;
   background: url(image/Chevron\ Down.png) no-repeat right;
 }


 /*---------------------------main------------------------------------------*/
 main{
   margin-top: 41px;
}
@media(max-width:1024px){
   main{
      margin-top: 40px;
   }
}
@media(max-width:768px){
   main{
      margin-top: 50px;
   }
}
@media(max-width:640px){
   main{
      margin-top: 34px;
   }
}
@media(max-width:360px){
   main{
      margin-top: 24px;
   }
}


 .grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 42px 21px;
   position: relative;
}
@media(max-width:1024px){
   .grid{
   grid-template-columns: 1fr 1fr;
   gap: 209px 68px;
   }
}
@media(max-width:768px){
   .grid{
   grid-template-columns: 1fr;
   gap: 209px 0px;
   justify-items: center;
   }
}
@media(max-width:640px){
   .grid{
   gap: 148px 0px;
   }
}

.grid-wrap{
   position:relative;
    float:left;
    width:368px;
    height:555px; 
}
@media(max-width:640px){
   .grid-wrap{
       width:300px;
       height:495px; 
   }
}


.animals-cards__image{
   position:absolute;
   transition: 0.5s;
   width: 368px;
   height: 555px;
    /*height: 700px;*/
   border: 1px solid #ffffff;
   background: #F6F6F6;
   box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
   border-radius: 5px;   
}
@media (max-width:640px){
   .animals-cards__image{
      width:300px;
      height:495px;
   }
}

.animals-cards__image:hover{
   z-index: 2;
   height: 700px;
   box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
   border-radius: 5px;
   border: 1px solid #FFC41E;
   cursor: url(/image/курсор.cur), pointer;  
}
@media (max-width:1024px){
   .animals-cards__image:hover{
      height: 555px;
   }
}
@media (max-width:640px){
   .animals-cards__image:hover{
      height: 495px;
   }
}

.animals-cards__image img{
   width: 335px;
   height: 356px;
   padding: 17px 16px 8px 17px;
}
@media (max-width:640px){
   .animals-cards__image img{
      width: 272px;
      height: 284px;  
      padding: 14px 14px 12px 14px;
   }
}


.animals-card-text{
   width: 335px;
}
@media (max-width:640px){
   .animals-card-text{
      width: 272px;
   }
}

.animals-card-text__title{
   height: 20px;
   padding-top: 8px;
}
@media (max-width:640px){
   .animals-card-text__title{
      height: 18px;
      padding-top: 0px;
   }
}

.animals-card-text__title h4{
   font-weight: 500;
   font-size: 22px;
   line-height: 20px;
   text-align: center;
}

hr{
   opacity: 0.5;
   border: 1px solid #D6D6D6;
   margin: 7px 0px;
}

figcaption{
   width: 335px;
   padding-left: 17px;
}
@media (max-width:640px){
   figcaption{
      width: 272px;
      padding-left: 14px;
   }
}

.animals-card-text__age{
  height: 20px;
  padding-bottom: 6px;
} 
@media (max-width:640px){
   .animals-card-text__age{
      height: 16px;
    }
}

.animals-card-text__age p{
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #6B6B6B;
}

.animals-card-text__description{
  height: 64px;
}
@media (max-width:640px){
   .animals-card-text__description{
      height: 86px;
    }
}

.animals-card-text__description p{
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

.link{
   font-weight: 500;
   font-size: 20px;
   line-height: 40px;
   text-decoration-line: underline;
   color: #AD7F00;
   }

/*------------------------------------кнопки------------------------------- */

   .buttons-animal {
      display: none;
   }
   @media (max-width:1024px){
      .buttons-animal {
         display: block;
      }
   }

   .animals-cards__image:hover .buttons-animal{
      display: block;
      transition-delay: 1s;
   } 

   /*----------------------Белая кнопка--------------------------------*/

   .outerbutton-white{
   width: 296px;
   height: 42px;
   background: #F6F6F6;
   box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
   border-radius: 58px;
   padding: 5px;
   box-sizing: border-box;
   margin-top: 17px;
   text-align: center;
   margin-left: 19px;
   }
   @media (max-width:640px){
      .outerbutton-white{   
         width: 242px;
         height: 30px;  
         margin-left: 24px;
      }
   }

   .innerbutton-white{
      width: 286px;
      height: 32px;
      background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
      box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
       border-radius: 58px;
      box-sizing: border-box; 
   }
   @media (max-width:640px){
      .innerbutton-white{   
         width: 232px;
         height: 22px; 
      }
   }

   .innerbutton-white:hover{
      background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
   }

   .innerbutton-white:active{
      background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
      box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
   }

   /*----------------------------Желтая кнопка--------------------------------*/

.outerbutton-yellow{
   width: 209px;
   height: 42px;
   background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
   box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
   border-radius: 58px;
   padding: 5px;
   box-sizing: border-box;
   margin-top: 20px;
 text-align: center;
 margin-left: 63px;
}
@media (max-width:640px){
   .outerbutton-yellow{ 
      width: 174px;
      height: 30px;    
      margin-left: 53px;
      padding: 4px;
   }
}

.outerbutton-yellow:hover{
   background: linear-gradient(180deg, #FFDC81 0%, #E6AA00 100%);
   box-shadow: 7px 7px 16px #E0E0E0, -3px -4px 8px #FFFFFF, inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.outerbutton-yellow:focus{
   border: 3px solid #6B6B6B;
   box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.innerbutton-yellow{
   width: 199px;
   height: 32px;
   background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
   box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
   border-radius: 58px;
   box-sizing: border-box; 
}
@media (max-width:640px){
   .innerbutton-yellow{ 
      width: 164px;
      height: 22px;
   }
}


.innerbutton-yellow:hover{
   background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
   box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}

.innerbutton-yellow a:hover{
   color: #000000;
}

.innerbutton-yellow:active{
   background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
   box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);

}

.button{
   border: none; 
   outline: none;
   background: rgba(255, 255, 255, 0);
}

.button a{
   font-family: Gilroy;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   text-align: center;
   line-height: 30px;
   color: #000;
   text-decoration: none;
}
@media (max-width:640px){
   .button a{ 
      font-size: 16px;
      line-height: 20px;
   }
}


/*------------------------ footer--------------------------------*/

.link-footer{
   padding-top: 55px;
   padding-bottom: 24px;
   justify-content: space-between;
}
@media (max-width:1024px){
   .link-footer{
      display: block;
      padding-top: 199px;
      padding-bottom: 0;
   }
}
@media (max-width:768px){
   .link-footer{
      display: flex;
      padding-bottom: 0;
      
   }
}
@media (max-width:640px){
   .link-footer{
      padding-top: 154px;
   }
}


.link-footer__first a{
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   align-items: center;
   color: #474747;
   text-decoration-line: underline;
   padding-right: 40px;
}
@media (max-width:1024px){
   .link-footer__first {
      height: 17px;
      justify-content: space-between;
   }
   .link-footer__first a{
      padding-right: 0px;
   }
}
@media (max-width:768px){
   .link-footer__first{
      height: 111px;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: stretch;
   }
   .link-footer__first a{
      margin-top: 20px;
      height: 17px;
   }
}
@media (max-width:640px){
   .link-footer__first{
      width: 288px;
      height: 185px;
      padding-left: 99px;
   }
   .link-footer__first a{
      padding-left: 0;
   }
}
@media (max-width:360px){
   .link-footer__first{
      padding-left: 0px;
   }
}

.link-footer__second a{
   font-size: 14px;
   line-height: 16px;
   color: #474747;
   text-decoration-line: underline;
   padding-left: 42px;
   
}
@media (max-width:1024px){
   .link-footer__second a{
      padding-top: 24px;
      padding-left: 0px;
      padding-right: 21px;
   }
}
@media (max-width:768px){
   .link-footer__second{
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      padding-top: 0;
      text-align: right;
      
   }
   .link-footer__second a{
      margin-top: 20px;
      height: 17px;
      padding: 0px;
   }
}
@media (max-width:640px){
   .link-footer__second a{
      padding-right: 99px;
   }
}
@media (max-width:360px){
   .link-footer__second a{
      padding-right: 0px;
   }
}


.footer-text p{
   font-weight: normal;
   font-size: 12px;
   line-height: 140%;
   color: #B3B3B3;
   text-align: center;
}
@media (max-width:1024px){
   .footer-text p{
      position: relative;
      text-align: right;
      bottom: 16px;
   }
}
@media (max-width:768px){
   .footer-text p{
      position: static;
      text-align: center;
      margin-right: 0px;
      margin-bottom: 16px;
      padding-top: 20px;
   }
}